.enquiry-wrapper {}

.filter-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
}

.edit-filter-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px #ff149354;
    background-image: linear-gradient(to right, #8D2E61, #BB3F81, #DB6BA7);
}

.card-btn {
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 0 10px #ff149354;
}

.rm-ui-cont {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0 0 10px #ff149354;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.heading {
    color: #4a4a4a;
}

.vertical-line {
    height: 20px;
    width: 1px;
    background-color: #d4d4d4;
}

.value-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #f2f2f2;
    border-radius: 0px 0px 4px 4px;
} 

.value {
    color: #4a4a4a;
}

.highlighted-value {
    color: #BB3F81;
    font-weight: 500;
}

@media only screen and (min-width: 360px) and (max-width: 540px) {

    .enquiry-wrapper {
        margin-left: -40px;
        margin-top: -40px;
        padding: 20px;
    }

    .rm-ui-cont {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 0 10px #ff149354;
        background-color: #f2f2f2;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
        background-color: white;
    }

    .value-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 40px;
        border-radius: 0px 0px 4px 4px;
    } 
}