.filter-accordian {
    /* margin-left: 46px;
      margin-right: 100px;
      margin-bottom: 18px; */
    width: "100%";
    padding: 0 2.1rem;
    box-sizing: border-box;
  }
  
  .accordian-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .accordian-title {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0px;
    color: #313131;
  
    /* margin-bottom: 0px; */
  }
  
  .accordian-body {
    /* margin-top: 12px; */
    padding-left: 12px;
    overflow: overlay;
    max-height: 144px;
    margin-top: 10px;
    /* overflow:scroll;*/
  }
  
  .accordian-body:not(.accordian-body .accordian-body)::-webkit-scrollbar {
    display: none;
  }
  
  .padded-image {
    padding-right: 10px;
  }

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}
  
/* .drop-down-options::-webkit-scrollbar {
  width: 10px;
  transition: opacity 0.3s;
  opacity: 0; 
}

.drop-down-options:hover::-webkit-scrollbar {
  opacity: 1; 
}


.drop-down-options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  opacity: 0;
}

.drop-down-options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.drop-down-options::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.drop-down-options {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.473) #f1f1f1;
  transition: scrollbar-color 0.3s;
}

.drop-down-options:hover {
  scrollbar-color: rgba(136, 136, 136, 0.473) #f1f1f1;
} */
