.content-file {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 0.5px dashed #707070;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-title-forced{
    padding: 12px 18px;
    justify-content: center;
    background-color: white !important;
    color:black !important
  }
  
  .modal-forced--block{
    width: auto;
    max-width: 90%;
    min-width: 500px;
    /* border-radius: 12px 12px 0px 0px; */
    border-radius: 12px ;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    .content-file {
      height: 85px;
    }
  }
  