.insightStpl-tooltip-title {
  background-color: #6c696a;
  display: flex;
  justify-content: center;
  align-items: center;
   border-bottom: 2px dotted white; 
  color: white;
}

.insightStpl-tooltip-content {
  color: white;
  background-color: #6c696a;
  padding: 10px;

}

.insightStpl-tooltip-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.insightStpl-color-box {
  margin-right: 10px;
  margin-top: 5px;
  height: 10px;
  width: 10px;
}

.color-gray {
  background-color: gray;
}

.insightStpl-label-value {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.displayFlex {
  display: flex;
}

