.insightStpl-tooltip-title {
    background-color: #6c696a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .insightStpl-tooltip-content {
    color: white;
    background-color: #6c696a;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
  }

  .insightStpl-tooltip-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  .insightStpl-color-box {
    margin-right: 10px;
    margin-top: 5px;
    height: 10px;
    width: 10px;
    flex-shrink: 0;
  }

  .color-gray {
    background-color: gray;
  }

  .label-value {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
