input[type="date"]::-webkit-calendar-picker-indicator {
    color: red;
    color: purple;
    opacity: 1;
    background: url('../../../../../../public/assets/img/mto/OrderRescheduling/edit-calendar.svg') no-repeat;
    width: 16px;
    height: 16px;

}