:root{
    --separator-border: transparent;
}
.sash-horizontal::after{
    content: url(../../../../../../public/assets/img/mto/dueDateQuotation/draggable.svg);
    width: 12px;
    display: block;
    /* z-index: 100000; */
    /* background: black; */
    position: absolute;
    height: 12px;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.sash-horizontal{
    border: 8px solid lightgrey;
    border-radius: 4px;
    z-index: 1 !important;
}

/* .split-view-view{
    overflow: visible !important;
} */
 
.vfwrap .ag-icon-filter{
    color:white;
  zoom:1.0;
  pointer-events: none; 
   
}

.allotment-module_splitViewView__MGZ6O
 {
  overflow: visible !important;
}

.allotment-module_splitView__view
 { 
  overflow: visible !important;
}



