.disabled-button-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .disabled-button-wrapper .hover-text {
    position: fixed;  
    min-width:200px;              
    bottom: auto;
    top: auto;
    right:10px;
    transform: translate(-10%, -170%);
    background: #ededed;
    color: black;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    z-index: 9999;
  }
  
  .disabled-button-wrapper:hover .hover-text {
    opacity: 1;
  }
  

