.ag-chart-tooltip-title-tfr {
  background-color: #6c696a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ag-chart-tooltip-content-tfr {
  color: white;
  background-color: #6c696a;
}
.displayFlex {
  display: flex;
}
.color-label-tfr {
  margin-right: 10px;
  margin-top: 5px;
  height: 10px;
  width: 10px;
}
.color-textbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.color-box-tfr {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

