.fka-tooltip-container {
  background-color: #6c696a;
}

.fka-tooltip-header {
  background-color: #6c696a;
  color: white;
  padding: 10px 10px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed white;
}

.fka-tooltip-body {
  color: white; 
  background-color: #6C696A; 
  padding: 10px;
}

.fka-tooltip-row {
  display: flex;
  align-items: center;
}

.color-box {
  margin-right: 10px;
  height: 3px;
  width: 15px;
}

.barcolor-Released_WIP {
  background-color: "#191919";
}
.barcolor-Allocated_Full_Kits {
  background-color: "#EBBF2C";
}
.barcolor-Limit {
  background-color: "#E53F3F";
}
