.note-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    border-radius: 4px;   
    background-color: #EBEBEB;
    color: #4A4A4A;
    padding: 10px;
}

.logo-wrapper {
    padding: 10px;
}

@media only screen and (min-width: 360px) and (max-width: 540px) {
    .note-wrapper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        border-radius: 4px;   
        background-color: #EBEBEB;
        color: #4A4A4A;
        padding: 5px;
    }
}

