.custom-scrollbar{
    overflow-y:overlay;
}

.custom-scrollbar::-webkit-scrollbar{
    width: 7px;       
}

.custom-scrollbar::-webkit-scrollbar-track{
    border-radius: 30px;
    opacity: 1;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    width: 7px;
/* UI Properties */
background: #313131 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 9px #41414129;
border-radius: 30px;
opacity: 1;
}

#tooltip{
    zoom: 0.75;
    z-index: 100000000;
}